@import 'styles/sass/main';

.Login {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding: 16px;
  background: $gray-light;
  @include flex(_, center, column);

  &__logo {
    margin-top: 168px;
    margin-bottom: 16.5px;
    @include flex(center, center);

    @media (max-width: $md), (max-device-width: $md) {
      margin-top: 84px;
    }
    @media (max-width: $sm), (max-device-width: $sm) {
      margin-top: 42px;
    }

    &_icon {
      color: $green;
      margin-right: 11.5px;
    }

    &_text {
      font: 400 24px/28px $helvetica-regular;
      color: $blue-dark;
    }
  }
}
