// screen
$tiny: 320px;
$sm: 575px;
$md: 767px;
$l: 900px;
$lg: 1023px;
$x: 1132px;
$xl: 1439px;

// colors
$black: #121212;
$black-gray: #495057;
$white: #fff;
$red: #c4183c;
$blue: #007bff;
$blue-dark: #3d5170;
$green: #0ec261;
$gray: #999999;
$gray-light: #e9ecef;
$gray-blue: #becad6;

// fonts
$helvetica-regular: 'Helvetica-Regular';
$roboto-regular: 'Roboto-Regular';
$roboto-medium: 'Roboto-Medium';
