@import 'styles/sass/main';

.Admin {
  position: relative;
  width: 100%;
  height: 100%;
  background: $gray-light;
  overflow-x: hidden;

  &__content {
    width: 100%;
    align-self: stretch;
    padding: 27px;

    @media (max-width: $sm), (max-device-width: $sm) {
      padding-top: 90px;
    }
  }

  &__logo {
    font: 400 29px/33px $helvetica-regular;
    color: $blue-dark;
    letter-spacing: -0.73px;
  }

  &__menu {
    @include scroll-bar-min;
    display: none;
    margin-top: 30px;
    width: 100%;
    min-height: calc(100vh - 256px);
    animation: show-menu 0.3s 1 ease-in;

    &_active {
      display: block;
    }
  }
}
